{% extends '__admin_base__.html' %}

{% block title %}{{ user.name }}{% endblock %}

{% block beforehead %}

<script>

</script>
{% endblock %}

{% block content %}

<div class="uk-width-medium-1-4">
    <div class="uk-panel uk-panel-box">
        <div class="uk-text-center">
            <img class="uk-border-circle" width="120" height="120" src="{{ user.avatar }}">
            <h3>{{ user.name }}<span v-if="user.admin" style="color:#d05">{% if user.admin %}【管理员】{% endif %}</span></h3>
        	<span>{{user.email}}</span>
        </div>
    </div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
            <li><i class="uk-icon-link"></i> <a href="#">编程</a></li>
            <li><i class="uk-icon-link"></i> <a href="#">思考</a></li>
            <li><i class="uk-icon-link"></i> <a href="#">读书</a></li>
        </ul>
    </div>
</div>

{% endblock %}